.ServicesSection{
    width:33%;
    @media screen and (max-width: 1400px){
        margin-left:10%;
        width: 80%;
        margin-bottom:5%;
    }
    .service{
        min-height:100%;
        width: 95%;
        background-color: #191D2B;
        border-left: 1px solid #2e344e;
        border-right: 1px solid #2e344e;
        border-bottom: 1px solid #2e344e;
        border-top: 8px solid #2e344e;
        transition: all .4s ease-in-out;
        @media screen and (max-width:1400px){
            width: 100%;
            margin-bottom: 1rem;
        }
        &:hover{
            border-top: 8px solid #037FFF;
        }
        
        .service-content{
            padding: 1rem;
            .s-title{
                height:80px;
                font-size: 1.6rem;
                font-weight: 500;
                position: relative;
                padding-bottom: 1rem;
                margin: 1rem 0;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 30%;
                    height: 2px;
                    background-color: #394161;
                }
            }
            
        }
        &:hover{
            background-color: #002b5763;
    }
    }
}

.servives-container{
    display: flex;

    color: #f0f5f9;
    justify-content: space-between;
    margin-top: 4rem;
    @media screen and (max-width:1400px){
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .service-ul{
        margin-top: -5%;
        margin-left: 15%;
        font-size: 1.2rem;
    }

}
