.chatSection {
    padding: 10px;
    height: 50%;
}

.messagesContainer {
    background-color: white;
    padding: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 75%;
    position: relative;
    overflow-y: scroll;
}

.messagesList {
    display: flex;
    flex-direction: column;
} 

.myMessage {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    color: white;
    background: #0B93F6;
    align-self: flex-end;
}

.myMessage::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
    right: -7px;
    width: 20px;
    background-color: #0B93F6;
    border-bottom-left-radius: 16px 14px;
}

.myMessage::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
    right: -10px;
    width: 10px;
    background-color: white;
    border-bottom-left-radius: 10px;
}

.receivedMessage {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    color: white;
    background: rgb(92, 179, 111);
    align-self: flex-start;
}

.receivedMessage::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
    left: -7px;
    width: 20px;
    background-color: rgb(92, 179, 111);;
    border-bottom-right-radius: 16px 14px;
}

.receivedMessage::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
    left: -10px;
    width: 10px;
    background-color: white;
    border-bottom-right-radius: 10px;
}

.newMessagesTextArea {
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

.sendMessageButton {
    border-radius: 10px;
    width: 100%;
    background-color: teal;
    color: white;
    margin-top: 15px;
}