.left {
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h1 {
    font-weight: 700;
    font-size: 75px;
}

.h3 {
    margin-top: 20px;
    font-size: 30px;
}

.outer {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
  }
  .outer > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
  .outer .below {
    z-index: 1;
    margin-right: 110px;
  }
  .outer .top {
    z-index: 2;
    background-color: white;
    border: solid 4px #06064A;
  }

  .buttons {
    margin-top: 50%;
    text-align: center;
  }

  .vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  /* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X) */
@media (min-width: 360px) { .outer .top {margin-left: 0px; margin-top: 30px; width:  110px; height:180px; border-radius: 15px;}}
@media (min-width: 360px) { .buttons {font-size: 5px;}} 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { .outer .top {margin-left: 40px; margin-top: 45px; width: 160px; height:250px; border-radius: 15px;}}
@media (min-width: 576px) { .buttons {font-size: 10px;}} 

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .outer .top {margin-left: 70px; margin-top: 50px; width: 200px; height:300px; border-radius: 25px;}}
@media (min-width: 768px) { .buttons {font-size: 15px;}} 

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .outer .top {margin-left: 100px; margin-top: 56px; width: 254px; height: 385px; border-radius: 25px;}}
@media (min-width: 992px) { .buttons {font-size: 20px;}} 

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .outer .top {margin-left: 102px; margin-top: 56px; width: 254px; height: 370px; border-radius: 25px;}} 
@media (min-width: 1200px) { .buttons {font-size: 20px;}} 

